.charts-wrapper {

   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 20px;
   width:100%;
}



.chart-card {

   background:#ffffff;
   border-radius:22px;
   padding:28px 20px 18px;
   height:310px;
   box-shadow:
   0 10px 30px rgba(139,92,246,0.08);

}



.chart-card h3 {

   margin:0 0 15px;
   font-size:16px;
   font-weight:700;
   color:#4c1d95;
}



.chart-container {

   width:100%;
   height:230px;

}

.recharts-cartesian-grid line {

   stroke:#e5e7eb;

}


.recharts-default-tooltip {

   border-radius:10px !important;
   border:none !important;
   box-shadow:
   0 5px 20px rgba(0,0,0,0.1);

}



.recharts-text {
   fill:#6b7280;
   font-size:12px;
}

@media(max-width:900px){

   .charts-wrapper{
      grid-template-columns:1fr;

   }

}