.login-page{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

background:
linear-gradient(
135deg,
#4f46e5,
#7c3aed,
#2563eb
);

padding:30px;

}



.login-card{

width:950px;

background:white;

border-radius:25px;

display:flex;

overflow:hidden;

box-shadow:
0 20px 50px rgba(0,0,0,.2);

}



.login-left{

flex:1;

padding:60px;

background:
linear-gradient(
160deg,
#111827,
#312e81
);

color:white;

}



.login-left h1{

font-size:42px;

margin-bottom:20px;

}


.login-left p{

color:#ddd;

line-height:1.7;

}



.features{

margin-top:40px;

display:flex;

flex-direction:column;

gap:20px;

font-size:18px;

}





.login-form{

flex:1;

padding:60px;

}



.login-form h2{

font-size:35px;

color:#111827;

}



.subtitle{

color:#6b7280;

margin-bottom:30px;

}




.input-group{

display:flex;

flex-direction:column;

gap:8px;

margin-bottom:20px;

}



.input-group label{

font-weight:600;

}



.input-group input{


padding:15px;

border-radius:12px;

border:1px solid #ddd;

font-size:16px;

outline:none;

}



.input-group input:focus{

border-color:#6366f1;

}




button{


width:100%;

padding:15px;

border:none;

border-radius:12px;

background:

linear-gradient(
90deg,
#6366f1,
#8b5cf6
);


color:white;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:translateY(-3px);

}



.error{

color:#dc2626;

background:#fee2e2;

padding:10px;

border-radius:10px;

}



.register{

margin-top:25px;

text-align:center;

}


.register a{

color:#6366f1;

font-weight:bold;

text-decoration:none;

}



/* Responsive */

@media(max-width:800px){


.login-card{

flex-direction:column;

}


.login-left,
.login-form{

padding:35px;

}


.login-left h1{

font-size:32px;

}


}