.footer {
    background:
    linear-gradient(
        135deg,
        #111827,
        #1e1b4b
    );
    color:white;
    padding:70px 8% 20px;
}


.footer-container{

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:
    2fr 1fr 1fr 1fr;

    gap:40px;

}



/* Brand */


.brand{
display:flex;
align-items:center;
gap:12px;
}
.brand-icon{
width:48px;
height:48px;
border-radius:14px;
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
background:

linear-gradient(
135deg,
var(--color-primary),
var(--color-secondary)
);
}

.footer-logo{

    font-size:30px;

    font-weight:800;

    margin-bottom:20px;

}

.footer-logo span{

    background: linear-gradient(
        90deg,
        #60a5fa,
        #a78bfa
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}


.footer-brand p{

    color:#cbd5e1;

    line-height:1.7;

    max-width:330px;

}




.footer-btn{

    margin-top:25px;

    display:inline-flex;

    align-items:center;

    gap:10px;

    padding:12px 25px;

    border-radius:30px;

    text-decoration:none;

    color:white;

    background:
    linear-gradient(
        90deg,
        #6366f1,
        #3b82f6
    );

    transition:.3s;

}


.footer-btn:hover{

    transform:translateY(-3px);

}



/* Columns */


.footer-column{

    display:flex;

    flex-direction:column;

    gap:14px;

}



.footer-column h3{

    font-size:18px;

    margin-bottom:10px;

}


.footer-column a{

    color:#cbd5e1;

    text-decoration:none;

    transition:.3s;

}



.footer-column a:hover{

    color:#60a5fa;

    transform:translateX(5px);

}



/* Contact */


.contact p{

    display:flex;

    align-items:center;

    gap:10px;

    color:#cbd5e1;

}



.social-icons{

    display:flex;

    gap:15px;

    margin-top:15px;

}


.social-icons a{

    width:42px;

    height:42px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#ffffff12;

    color:white;

    font-size:20px;

    transition:.3s;

}


.social-icons a:hover{

    background:#6366f1;

    transform:translateY(-5px);

}



/* Bottom */


.footer-bottom{

    margin-top:50px;

    padding-top:20px;

    border-top:1px solid #ffffff20;

    text-align:center;

    color:#94a3b8;

}



/* Responsive */


@media(max-width:900px){


.footer-container{

grid-template-columns:1fr 1fr;

}


}



@media(max-width:600px){


.footer-container{

grid-template-columns:1fr;

}


.footer{

padding:50px 25px 20px;

}


}